@charset 'UTF-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
  max-width: 400%;
  font-size: 100%;
  -webkit-tap-highlight-color: transparent;
}
h1, h2, h3, p, ul, a, strong {
  font-size: 100%
  line-height: 2em;
  width: 100%;
  text-indent: 10px;
  text-align: justify;
}
/* Cabecalho */
header {
  max-width:400%;
  padding: 20px;
  background-image: linear-gradient(to top, #0f1442, #185679);
  color: white;
}
header > h1 {
  font: normal bold 3em arial, sans-serif;
  text-align: center;
  margin: 5px 0 20px 0;
}
header > p {
  text-align: center;
  font: normal normal 0.8em arial, sans-serif;
  margin: 5px 0 40px 0;
}
nav {
  text-align: center;
  margin: auto;
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul > li {
  list-style-type: none;
}
li > a {
  font: normal bold 1em arial, sans-serif;
  max-width: 60px;
  height: 5px;
  padding: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  background-color: #0f1442;
  border-radius: 0 0 5px 5px;
}
nav > ul > li > a:hover {
  border-radius: 5px;
  background-color: #185679;
  transition-duration: 0.2s;
  transition-delay: 0.1s;
}
/* conteudo principal */
main a {
  text-decoration: underline;
}
main {
  padding: 21px;
  font-size: 1.4em;
}
main > h2 {
  font-size: 1.4em;
}
h1, h2, p {
  margin: 15px 0 15px 0;
}
main > h1 {
  text-align: center;
  margin: 10px 0 20px 0;
  font: normal bolder 1.8em arial, sans-serif;
}
main > p {
  min-width: 320px;
  margin: 15px 0 15px 0;
  font: normal normal 15px arial, sans-serif;
}
a, strong {
  text-decoration: none;
  font: normal bolder 16px arial, sans-serif;
  color: #034a72;
  padding: 0 1px 0 1px;
}
/* Imagens area */
main > picture {
  justify-content: center;
  align-content: center;
  margin: auto;
  border-radius: 20px;
  width: 100%;
}
picture > img {
  justify-content: center;
  align-content: center;
  margin: auto;
  border-radius: 10px;
  width: 100%;
}
.bugdroid {
  display: block;
  max-width: 350px;
}
.dandroid {
  height: 100%;
  width: 50%:
}
.creatorlogo {
  width: 100%;
}
/* lista area */
aside > h1 {
  background-color: #0e1382;
  border: 1px solid #0e1382;
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 10px;
  display: left;
}
aside p {
  padding: 0 30px 10px 30px;
}
aside {
  font: normal normal 15px arial, sans-serif;
  color: #fff;
  background-color: #6367c1;
  margin: 2px;
  border-radius: 10px;
}
aside a, strong {
  color: #b5bae9;
}
aside > ul {
  padding: 0 30px 10px 50px;
  list-style-position: inside;
  column-count: 2;
}
.list1 > li {
  font: normal normal 15px arial, sans-serif;
  list-style: disc;
  background-color: #6367c1;
  list-style-type: '\2714\00A0';
}
abbr {
  text-decoration: none;
}
abbr:hover {
  text-decoration: block;
}
/* video area */
.videoback {
  margin: 10px -21px 10px -21px;
  background-color: #034a72;
  justify-content: center;
  display: flex;
  position: relative;
  padding: 50% 50% 20% 30%;
}
video {
  position: absolute;
  border-radius: 10px;
  top: 7%;
  left: 3%;
  width: 93.7%;
  height: 84.5%;
}
/* rodape */
footer {
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(to top, #0f1442, #185679);
  color: white;
  font: normal lighter 0.9em arial, sans-serif;
}

@media screen and (min-width: 750px) and (max-width: 1120px) {
  main {
    margin: 0 120px;
  }
}

@media screen and (min-width: 1120px) {
  main {
    margin: 0 300px;
  }
}
